.all
    link(rel="stylesheet", href="/table.css")

    img(id="table", src="/table/1.png", alt="Tabela")

    p.time Sebcio vs Emotka 19:30 24.09.2021 ✔️
    p.time Mr.Lonely vs Czaro 24.09.2021 ✔️
    p.time Elita vs Pawełczak 21:15 24.09.2021 ✔️
    p.time bzbz vs fooxu 19 24.09.2021 ✔️
    p.time Pord vs sqbany 20:30 24.09.2021 ✔️
    p.time Czaro vs Mr.Lonely 18:00 1.10.2021 ✔️